[submodule "cloud-data"]
	path = cloud-data
	url = https://github.com/diegonmarcos/cloud-data.git
	ignore = all
[submodule "front-data"]
	path = front-data
	url = https://github.com/diegonmarcos/front-data.git
	ignore = all
